* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#p1 {
    margin-top: 100px;
}

#p1 h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

#p1 p {
    color: white;
    text-align: center;
}

#form {
    margin-left: 10%;
    margin-right: 10%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#container {
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
  opacity: 0.8;
}

#loging {
    text-decoration: none;
    float: right;
    margin-top: 22px;
    color: cyan;
}

#loging:hover {
    opacity: 0.8;
}